.event {
    a {
        color: $dark;
        text-decoration: none !important;
        
    }
    h2 {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 0px !important;
    }
    .event-start-date {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 100;
        color: $dark;
        margin-bottom: 5px !important;
       
    }
    .break-line {
        border-top: 1px solid $primary;
    }
}

//archive events

.archive-events {
    margin-bottom: 5px;
    .row {
        .archive-event {
            margin-bottom: 10px;
            padding: 0px;
            @include media-breakpoint-down(xs) {
                padding: 5px 0px;
            }
            .event-container {
                padding: 15px;
                background-color: $secondary;
                margin: 5px;
                height: 100%;
                .col-1 {
                    padding-right: 5px;
                    text-align: right;
                    .agenda-logo {
                        padding-top: 15px;
                        text-align: left;
                        span {
                            font-size: 40px;
                        }
                    }
                }
                .col-11 {
                    padding-left: 30px;
                }
                .event-info{
                    padding-top: 15px;
                    padding-left: 15px;
                    padding-right: 15px;
                    text-transform: uppercase;
                    font-size: 18px;
                    p {
                        padding-bottom: 5px;
                    }
                }
                .i-event-content {
                    padding-top: 0px;
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
    p {
        margin-bottom: 0px;
    }
    p, a {
        color: $dark;
        font-weight: bold;
        text-decoration: none;
    }
    h2 {
        font-size: 18px;
        font-weight: 800;
        color: $unactive;
    }
    h2:hover {
        color: $hoverprim;
    }
}

.older-events {
    height: 207px;
    a {
        color: $text;
        position: absolute;
        top: 50%;
        left: 15%;
        font-weight: 400;
        //text-transform: uppercase;
        padding: 0.375rem 0.75rem;
        background-color: $primary;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transform: translate( -15%, -50% );
    }
    a:hover {
        background-color: $primary-shade;
    }
}