// scss css for content goes here

#wrapper-footer {
    padding-top: 50px;
    background-color: $dark;
}

footer {

    #footer-sidebar1, #footer-sidebar2, #footer-sidebar3 {
        display: inline-block;
        text-align: center;
    }

    h2 /* title */{
        font-size: 36px;
        text-align: left;
        line-height: 1;
        font-family: $primary-font !important;
        @include media-breakpoint-down(xs) {
            font-size: 25px;
        }
        span {
            font-size: 25px;
            font-family: $primary-font !important;
            @include media-breakpoint-down(xs) {
                font-size: 20px;
            }
        }
    }

    p, h1, h2, h3 {
        color: $light;
    }
    p a {
        color: $primary;
        text-decoration: none !important;
    }
}