#index-wrapper {
    padding: 0px;
    background-color: $dark;
    .entry-title {
        color: $light;
        margin-top: 10px;
        padding: 10px 0px 10px 0px;
    }
    .index-articles {
        @include media-breakpoint-down(xs) {
            padding: 5px 25px;
        }
    }
}

.inner-row {
    padding-left: 35px;
    padding-right: 35px;
    @include media-breakpoint-down(xs) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

//article

.ft-article {

    padding: 1px 1px 1px 1px;
    
    @include media-breakpoint-down(xs) {
        padding: 5px 0px;
    }

    article {
        position: relative;
    }
    header {
        img.wp-post-image {
            width: 100%;
            height: 380px;
            object-fit: cover;
        }
        &:hover {
            opacity: 0.4 !important;
        }
    }
}

.ft-article-main {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 15px;
    color:$light;
    background-color: rgba(0,0,0,.7);
    a {
        text-decoration: none;
        h2 {
            color: $light;
            font-size: 26px;
            font-weight: bold; 
        }
    }
}

.ft-article-content {
    p {
        display: inline-block;
        margin-bottom: 0px;
    }
    ul {
        display: inline-block;
        float: right;
        margin-bottom: 0px;
        li {
            display: inline-block;
            a {
                color: $primary;
                text-decoration: none;
                margin-left: 5px;
            }
        }
    }
}

.index-team {
    padding-bottom: 0px;
    .author_institute {
        margin-bottom: 0px;
    }
}

.team-part {
     background-color: $light;
    //background-color: $dark-heading;
    margin-top: 2px;
    padding: 25px 0px;
}

.post-info {
    position: absolute;
    top: 10px;
    right: 10px;
}

.dark-theme-tag {
    display: inline-block;
    color: $dark;
    font-weight: bold;
    font-size: 12px;
    padding: 8px 10px 7px 10px;
    text-transform: uppercase;
    background-color: #efefef;
}

//index events 

.index-events {
    background-color: $primary;
    padding-top: 2px;
    padding-bottom: 6px;
    .row {
        padding-left: 10px;
        padding-right: 10px;
        .index-event {
            padding: 0px;
            @include media-breakpoint-down(xs) {
                padding: 5px 0px;
            }
            .event-container {
                margin: 2px;
                height: 100%;
                .col-2 {
                    padding-right: 5px;
                    text-align: right;
                    .agenda-logo {
                        padding-top: 15px;
                        span {
                            font-size: 40px;
                        }
                    }
                }
                .event-info{
                    padding-top: 15px;
                    padding-left: 15px;
                    padding-right: 15px;
                    text-transform: uppercase;
                    font-size: 18px;
                    p {
                        font-weight: lighter;
                    }
                }
                .i-event-content {
                    padding-top: 0px;
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
    p {
        margin-bottom: 0px;
    }
    p, a {
        color: $dark;
        font-weight: bold;
        text-decoration: none;
    }
    h2 {
        font-size: 18px;
        font-weight: 800;
        color: $dark-heading;
    }
    h2:hover {
        color: $dark;
    }
}