#index-wrapper {
    padding: 0px;
    background-color: $dark;
    .entry-title {
        color: $light;
        margin-top: 10px;
        padding: 10px 0px 10px 0px;
    }
}

.inner-row {
    padding-top: 1px;
    padding-right: 1px;
}

//article

.ft-article {

    padding: 1px 1px 1px 1px !important;

    article {
        position: relative;
    }
    header {
        img.wp-post-image {
            width: 100%;
            height: 377px;
            object-fit: cover;
        }
        &:hover {
            opacity: 0.4 !important;
        }
    }
}

.ft-article-main {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 15px;
    color:$light;
    background-color: rgba(0,0,0,.7);
    a {
        text-decoration: none;
        h2 {
            color: $light;
            font-size: 26px;
            font-weight: bold; 
        }
    }
}

.ft-article-content {
    p {
        display: inline-block;
        margin-bottom: 0px;
    }
    ul {
        display: inline-block;
        float: right;
        margin-bottom: 0px;
        li {
            display: inline-block;
            a {
                color: $primary;
                text-decoration: none;
                margin-left: 5px;
            }
        }
    }
}

.team-part
 {
    background-color: $light;
    //background-color: $dark-heading;
    margin-top: 2px;
    padding: 25px 0px;
}