// SCSS for the Team
.member article {
    text-align: center;
    a {
        color: $dark;
        text-decoration: none;
    }

    img {
        border-radius: 100%;
        width: 104px;
        height: 104px;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .author_title {
        font-size: 18px;
        font-weight: 800;
        font-family: $primary-font;
        margin-bottom: 0px;
    }

    .author_function {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .author_institute {
        font-size: 16px;
        margin-bottom: 25px;
    }

    .author_institute:after {
        content: " »";
    }

}

//scss for the single author (author.php)
#single-author .wrapper {
    padding: 0px;
    main {
        padding-top: 30px;
    }
    h2, h3, span {
        color: $dark;
        font-weight: bold;
    }
}

//left right buttons for the slider
.p-3.control i {
    cursor: pointer !important;
}
.text-muted {
    color: $text !important;
}