// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here


// custom css
* {
    font-family: $secondary-font;
}

// fix
.vertical-center {
    display: flex !important;
    align-items: center !important;
}


//load more button

.post-navigation {
    margin: 20px auto;
    margin-bottom: 0px;
    padding: 15px;
    border-radius: 0.25rem;
    background-color: $primary !important;
    width: 80%;
    height: 52px;
    .left-nav, .mid-nav, .right-nav {
        a { 
            color: $primary-dark !important;
            line-height: 0px;
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
        }
        a:hover {
            color: $text !important;
        }
    }
    .nav-links {
        margin: 0 auto !important;
    }
    .right-nav {
        text-align: right;
    }
}