// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here


// custom css
* {
    font-family: $secondary-font;
}

// fix
.vertical-center {
    margin-top: auto;  
    margin-bottom: auto;

}

//load more button

.post-navigation {
    margin: 20px auto;
    margin-bottom: 0px;
    padding: 15px;
    border-radius: 0.25rem;
    background-color: $primary !important;
    width: 80%;
    height: 52px;
    .left-nav, .mid-nav, .right-nav {
        width: 33%;
        a { 
            color: $primary-dark !important;
            line-height: 0px;
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
        }
        a:hover {
            color: $text !important;
        }
        @include media-breakpoint-down(xs) {
            padding-top: 10px;
        }
    }
    .nav-links {
        margin: 0 auto !important;
    }

    .left-nav {
        @include media-breakpoint-down(xs) {
            padding-right: 0px;
        }
    }

    .right-nav {
        text-align: right;
        @include media-breakpoint-down(xs) {
            padding-left: 0px;
        }
    }
    
    .mid-nav {
        @include media-breakpoint-down(xs) {
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 10px;
        }
    }

    @include media-breakpoint-down(xs) {
        width: 100%;
        padding: 5px;
    }

}

.standard-theme-tag {
    display: inline-block;
    color: #000;
    font-weight: bold;
    font-size: 12px;
    padding: 8px 10px 7px 10px;
    text-transform: uppercase;
    background-color: $primary;
    border: 1px solid #cca400;
}

.standard-theme-tag:hover {
    background-color: $primary-shade;
}